<div class="container-fluid" style="height:100%">
    <div class="row" style="height:100%">
        <div class="col-md-9" id="index-bgimg">
            &nbsp;
        </div>
        <div class="col-md-3" id="index-colright" style="padding:30px;">
            <div class="index-logo"></div>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="co_login">EMAIL / IDENTIFIANT</label>
                    <input type="text" class="form-control" name="co_login" id="co_login" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="co_password">MOT DE PASSE</label>
                    <input type="password" class="form-control" name="co_password" id="co_password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-info">Se connecter</button>
                <!-- <div style="margin-top:20px;"><a href="/subscribe">Je n'ai pas de compte</a></div> -->
            </form>
        </div>
    </div>
</div>

