@import './M_';
@import url( "./variables.less" );

@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box {
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}



body {
	// background-color: @gray1;
}
h1 {
	color: @green3;
}
h1.notcolored {
	color: @gray2;
}
h2 {
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	color: @gray2;
	margin: 0 0 8px 0;
}

h3, .M_TabButton {
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: @gray2;
}
h3 {
	margin: 0 0 8px 0;
}
h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
}
hr {
	margin: 15px 0;
}
#preferences_table {
	width: 600px;
	margin: 0 auto;
	border-top: 1px solid @gray1;
	padding-top: 30px;
	a {
		text-decoration: none;
	}
	.preferences_pref {
		float: left;
		width: 300px;
		padding-bottom: 30px;
		border-bottom: 1px solid @gray1;
		margin-bottom: 30px;
		img {
			display: block;
			float: left;
			margin-right: 10px;
		}
		h2 {
			float: left;
			width: 255px;
			padding-top: 6px;
		}
	}
}
b {
	font-weight: bold;
	// color: @blue4;
}
strong {
	font-weight: bold;
	color: @blue4;
}
.M_Panel {
	border-top: 5px solid @green3;
	padding: @standard-padding;
}
.M_part {
	// background-color: @gray1;
	padding: @gutter ;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mainContent {
	width: 100%;
	height: 100%;
}

#mainnav {
	position: absolute;
	top: @maintoolsbar-height;
	left: 0;
	display: none;
	z-index: 1000;
	width: @sidebar-width;
	height: calc(100% - @maintoolsbar-height);
	// border-right: 1px solid #b0bec5;
	background-color: @gray5;
	box-sizing: border-box;
	padding: 0;
	li {
		padding: 10px 15px;
	}
	h1 {
		background-color: @gray5;
		height: @maintoolsbar-height;
		font-size: 20px;
		color: white;
		padding: 10px 0 0 20px;
	}
	p {
		// padding: 12px 0 0 5px;
		padding: 2px 0 0 0;
		float: left;
		margin: 0;
		display: block;
	}
	span {
		font-size: 20px;
		display: block;
		float: left;
		margin-right: 10px;
	}
}
// #mainnav span {
// 	width: 34px;
// 	height: 34px;
// 	display: block;
// 	float: left;
// 	background-repeat: no-repeat;
// 	margin: 5px 0 5px 10px;
// }
// #mainnav .menumodule_Home span {
// 	background-image: url(/images/ico_1home-NB.png);
// }
// #mainnav .menumodule_Home:hover span,
// #mainnav .menumodule_Home.over span {
// 	background-image: url(/images/ico_1home.png);
// }
// #mainnav .menumodule_Contacts span {
// 	background-image: url(/images/ico_2contacts-NB.png);
// }
// #mainnav .menumodule_Contacts:hover span,
// #mainnav .menumodule_Contacts.over span {
// 	background-image: url(/images/ico_2contacts.png);
// }
// #mainnav .menumodule_Vacation span {
// 	background-image: url(/images/ico_3abscences-NB.png);
// }
// #mainnav .menumodule_Vacation:hover span,
// #mainnav .menumodule_Vacation.over span {
// 	background-image: url(/images/ico_3abscences.png);
// }
// #mainnav .menumodule_VacationAdmin span {
// 	background-image: url(/images/ico_4abscences-admin-NB.png);
// }
// #mainnav .menumodule_VacationAdmin:hover span,
// #mainnav .menumodule_VacationAdmin.over span {
// 	background-image: url(/images/ico_4abscences-admin.png);
// }
// #mainnav .menumodule_Reports span {
// 	background-image: url(/images/ico_5rapporthebdo-NB.png);
// }
// #mainnav .menumodule_Reports:hover span,
// #mainnav .menumodule_Reports.over span {
// 	background-image: url(/images/ico_5rapporthebdo.png);
// }
// #mainnav .menumodule_ReportsAdmin span {
// 	background-image: url(/images/ico_6rapporthebdo-admin-NB.png);
// }
// #mainnav .menumodule_ReportsAdmin:hover span,
// #mainnav .menumodule_ReportsAdmin.over span {
// 	background-image: url(/images/ico_6rapporthebdo-admin.png);
// }
// #mainnav .menumodule_MonthlyReports span {
// 	background-image: url(/images/ico_6rapportmensuel-NB.png);
// }
// #mainnav .menumodule_MonthlyReports:hover span,
// #mainnav .menumodule_MonthlyReports.over span {
// 	background-image: url(/images/ico_6rapportmensuel.png);
// }
// #mainnav .menumodule_MonthlyReportsAdmin span {
// 	background-image: url(/images/ico_7rapportmensuel-admin-NB.png);
// }
// #mainnav .menumodule_MonthlyReportsAdmin:hover span,
// #mainnav .menumodule_MonthlyReportsAdmin.over span {
// 	background-image: url(/images/ico_7rapportmensuel-admin.png);
// }
// #mainnav .menumodule_Candidates span {
// 	background-image: url(/images/ico_8moduleDRH-NB.png);
// }
// #mainnav .menumodule_Candidates:hover span,
// #mainnav .menumodule_Candidates.over span {
// 	background-image: url(/images/ico_8moduleDRH.png);
// }
// #mainnav .menumodule_Preferences span {
// 	background-image: url(/images/ico_9preferences-NB.png);
// }
// #mainnav .menumodule_Preferences:hover span,
// #mainnav .menumodule_Preferences.over span {
// 	background-image: url(/images/ico_9preferences.png);
// }


#mainnav .nav.nav-main li {
	color: @gray2;
	margin: 0;
	border-bottom: 1px solid @gray2;
	-webkit-transition: background-color 0.5s ease 0s;
	        transition: background-color 0.5s ease 0s;
}
#mainnav .nav.nav-main li:hover,
#mainnav .nav.nav-main li.over {
	color: @gray1;
}
#mainnav .nav.nav-main li:hover {
	background-color: @gray2;
}

#mainnav .nav.nav-main a {
	text-decoration: none;
}
#mainnav .nav.nav-main > a.active > li {
	color: white;
}
#mainnav hr {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}


#maincenter {
	height: 100%;
	width: 100%;
	background-color: @monogray2;
}
#maintoolsbar {
	height: @maintoolsbar-height;
	background-color: @orange1;
	color: white;
}
#maintoolsbarcontent {
	width: 100%;
	// max-width: @max-width;
	// margin: 0 auto;
}
#maintoolsbar img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

#main {
	height: calc(100% - @maintoolsbar-height);
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: @max-width;
	margin: 0 auto;
}
.mainlogo {
	background-image: url(/images/logo02.png?v=1);
	width: 138px;
	height: 40px;
	float: left;
	margin: 5px 0 0 0;
	cursor: pointer;
}
.mainseperation {
	border-left: 1px solid @gray1;
	width: 1px;
	float: left;
	height: 25px;
	margin: 13px 20px 0 20px;
}
.mainsearch {
	float: left;
	font-size: 20px;
	margin: 16px 0 0 0;
}
#mainsearchinput {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 18px;
	border: 0;
	padding: 0;
	background-color: transparent;
	color: white;
	&::-webkit-input-placeholder {
		color: white;
	}
	&::-moz-placeholder {
		color: white;
	}
	&:-ms-input-placeholder {
		color: white;
	}
}

.maintools {
	float: left;
	font-size: 20px;
	margin: 7px 0 0 20px;
}




#contacts_simplesearch input {
	font-weight: 100;
}
#contacts_bases input {
	font-weight: 100;
}

.fa.big {
	font-size: 30px;
}

.home_icons {
	text-align: center;
	margin: 0 -1%;
	.fa {
		font-size: 50px;
	}
	.M_Badge {
		right: 30%;
	}
}
.home_bgwhite {
	background-color: white;
	padding: 15px;
	margin: 0 1%;
}
.home_littlepart {
	float: left;
	position: relative;
	width:14.6666%;
	margin:1%;
	background-color: white;
	padding:15px;
	h1 {
		font-size: 20px;
		line-height: 22px;
		color: @gray2;
	}
}


.noUi-connect.bg_colOrange1 {
	background-color: @yellow2;
}
.noUi-connect.bg_colBlue1 {
	background-color: @blue2;
}
.noUi-connect.bg_colGreen1 {
	background-color: @green2;
}
.noUi-connect.bg_colRed1 {
	background-color: @red2;
}

@keyframes bganim {
		from {
			background-position: 0;
		}
		to {
			background-position: 42px;
		}
	}
.noUi-target.noUi-connect {
	background-image: url(/images/fond-hachure-ok.png);
	animation-duration: 1s;
	animation-name: bganim;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.vacation_wait {
	background-image: url(/images/fond-hachure-ok.png);
	animation-duration: 2s;
	animation-name: bganim;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#vacation_gain {
	padding: 8px 30px 0 0;
}
#vacation_cal1title, #vacation_cal2title {
	text-align: right;
}
#vacationwinedit_va_start2 .M_LabelRight, #vacationwinedit_va_end2 .M_LabelRight {
	margin-top: -5px;
	line-height: 14px;
}

#vacation_previousmonth, #vacation_nextmonth {
	color: @gray1;
	cursor: pointer;
	font-size: 40px;
}
#vacation_previousmonth:hover, #vacation_nextmonth:hover {
	color: @gray2;
}

#vacationwinedit_va_start2 label, #vacationwinedit_va_end2 label {
	padding-left: 3px;
}

.faicon {
	background-color: @blue3;
	padding: 5px 7px 0 7px;
	border-radius: 3px;
	height: 24px;
	color: white;
	font-size: 14px;
}
.vacation_status {
	padding: 3px 0;
	border-radius: 3px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 80px;
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.little {
	font-size: @font-size-smallsmall;
	line-height: @font-size-smallsmall;
	// color: @blue4;
	line-height: 11px;
}
.little2 {
	font-size: @font-size-smallsmall;
	line-height: @font-size-smallsmall;
	color: @gray4;
	line-height: 11px;
}



.inputSearch {
	background-color: transparent;
	border: 0;
	outline: none;
	width: 200px;
	height: 43px;
	padding: 0px 15px;
	font-size: 20px;
	font-weight: 100;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#home_colA1 {
	height: 340px;
}
// #home_actions {
// 	height: 200px;
// }
.home_3stats {
	float: left;
	border-right: 1px solid @border-color;
	// padding: @standard-padding;
}
.home_3stats:last-child {
	border-right: 0;
}
.home_3stats_num {
	font-size: 50px;
	line-height: 50px;
	color: @blue3;
	text-align: center;
	font-weight: 100;
}
.home_3stats_num .fa {
	font-size: 30px;
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
}
.home_3stats_num_ng {
  font-size: 50px;
  line-height: 50px;
  color: @red3;
  text-align: center;
  font-weight: 100;
}
.home_3stats_num_ng .fa {
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
}
.home_3stats_week {
	color: @monogray3;
}


#home_bg {
	background-image: url(/images/bg_home1.jpg) ;
	background-size: cover;
	background-position: center;
	height: 380px;
}
#home_bg2 {
	width: 100%;
	height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&amp;0+50,0.8+60,0.8+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(128,128,128,0) 50%, rgba(102,102,102,0.8) 60%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(128,128,128,0)), color-stop(60%,rgba(102,102,102,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(128,128,128,0) 50%,rgba(102,102,102,0.8) 60%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(128,128,128,0) 50%,rgba(102,102,102,0.8) 60%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(128,128,128,0) 50%,rgba(102,102,102,0.8) 60%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(128,128,128,0) 50%,rgba(102,102,102,0.8) 60%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 */
}
#home_colB1 {
	height: 120px;
}
#home_colB1 h3 {
	text-align: center;
}
#home_chart1 {
	height: 220px;
}
#home_4stats .M_Col3 {

	h2, h3, h4, h5 {
		color: white;
	}
	.home_4stats_top {
		padding: @standard-padding;
		h2, h3 {
			margin: 0;
		}
		h2 {
			margin-bottom: 4px;
		}
	}
	.home_4stats_bottom {
		background-color: white;
		padding: @standard-padding;
		.M_FloatLeft {
			width: 50%;
			text-align: center;
			span {
				display: block;
				color: @gray2;
			}
			span:first-child {
				font-size: 30px;
				line-height: 30px;
			}
		}
	}
	&:first-child .home_4stats_top {
		background-color: @red2;
	}
	&:nth-child(2) .home_4stats_top {
		background-color: @blue3;
	}
	&:nth-child(3) .home_4stats_top {
		background-color: @green3;
	}
	&:last-child .home_4stats_top {
		background-color: @green4;
	}

}

@roomsAlltitleHeight: 50px;
#rooms_col_contacts {
	float: left;
	height: calc(100% - @roomsAlltitleHeight);
	width: 350px;
	background-color: white;
	margin-right: @gutter;
	// border-right: 1px solid #b0bec5;
	// box-sizing: border-box;
}
#rooms_col_details {
	float: left;
	height: calc(100% - @roomsAlltitleHeight);
	width: calc(100% - (350px + @gutter));
	box-sizing: border-box;
	background-color: white;
}
#rooms_list_contacts, #rooms_list_groups, #rooms_list_agencies {
	height: calc(100% - @toolbar2-height - 34px - 34px);
}


@messagesAlltitleHeight: 50px;
#messages_col_contacts {
	float: left;
	height: calc(100% - @messagesAlltitleHeight);
	width: 350px;
	background-color: white;
	margin-right: @gutter;
	// border-right: 1px solid #b0bec5;
	// box-sizing: border-box;
}
#messages_col_details {
	float: left;
	height: calc(100% - @messagesAlltitleHeight);
	width: calc(100% - (350px + @gutter));
	box-sizing: border-box;
	background-color: white;
}
#messages_list_contacts, #messages_list_groups, #messages_list_agencies {
	height: calc(100% - @toolbar2-height - 34px - 34px);
}
#messages_list_contacts {
	.M_SimpleListItem {
		height: auto;
		padding: 9px 15px;
	}
}



@infosAlltitleHeight: 50px;
#infos_col_contacts {
	float: left;
	height: calc(100% - @infosAlltitleHeight);
	width: 350px;
	background-color: white;
	margin-right: @gutter;
	// border-right: 1px solid #b0bec5;
	// box-sizing: border-box;
}
#infos_col_details {
	float: left;
	height: calc(100% - @infosAlltitleHeight);
	width: calc(100% - (350px + @gutter));
	box-sizing: border-box;
	background-color: white;
}
#infos_list_contacts, #infos_list_groups, #infos_list_agencies {
	height: calc(100% - @toolbar2-height - 34px - 34px);
}
#infos_list_contacts {
	.M_SimpleListItem {
		height: auto;
		padding: 9px 15px;
	}
}







@establishmentsAlltitleHeight: 50px;
#establishments_col_contacts {
	float: left;
	height: calc(100% - @establishmentsAlltitleHeight);
	width: 350px;
	background-color: white;
	margin-right: @gutter;
	// border-right: 1px solid #b0bec5;
	// box-sizing: border-box;
}
#establishments_col_details {
	float: left;
	height: calc(100% - @establishmentsAlltitleHeight);
	width: calc(100% - (350px + @gutter));
	box-sizing: border-box;
	background-color: white;
}
#establishments_list_contacts, #establishments_list_groups, #establishments_list_agencies {
	height: calc(100% - @toolbar2-height - 34px - 34px);
}
#establishments_list_contacts {
	.M_SimpleListItem {
		height: auto;
		padding: 9px 15px;
	}
}


@formsAlltitleHeight: 50px;
#forms_col_contacts {
	float: left;
	height: calc(100% - @formsAlltitleHeight);
	width: 350px;
	background-color: white;
	margin-right: @gutter;
	// border-right: 1px solid #b0bec5;
	// box-sizing: border-box;
}
#forms_col_details {
	float: left;
	height: calc(100% - @formsAlltitleHeight);
	width: calc(100% - (350px + @gutter));
	box-sizing: border-box;
	background-color: white;
}
#forms_list_contacts, #forms_list_groups, #forms_list_agencies {
	height: calc(100% - @toolbar2-height - 34px - 34px);
}


@documentsAlltitleHeight: 50px;
#documents_alltitles {
	// height: @documentsAlltitleHeight;
	overflow: hidden;
}
#documents_listcontainer {
	height: calc(100% - @documentsAlltitleHeight);
	background-color: white;
}


@contactsAlltitleHeight: 50px;
#contacts_alltitles {
	// height: @contactsAlltitleHeight;
	overflow: hidden;
}
#contacts_col_groups {
	float: left;
	height: calc(100% - @contactsAlltitleHeight);
	width: 250px;
	background-color: white;
	margin-right: @gutter;
	// border-right: 1px solid #b0bec5;
	// box-sizing: border-box;
}
#contacts_col_contacts {
	float: left;
	height: calc(100% - @contactsAlltitleHeight);
	width: 250px;
	background-color: white;
	margin-right: @gutter;
	// border-right: 1px solid #b0bec5;
	// box-sizing: border-box;
}
#contacts_col_details {
	float: left;
	height: calc(100% - @contactsAlltitleHeight);
	width: calc(100% - (250px + 250px + @gutter + @gutter));
	box-sizing: border-box;
	background-color: white;
}
#contacts_list_groups {
	// height: calc(100% - 75px);
	// padding: 0 0px;
}
#contacts_list_contacts {
	// height: calc(100% - 75px);
	// padding: 0 0px;
}
// #contactedit_main {
//   height: calc(100% - @toolbar-height);
// }


.M_Window {
	background-color: @monogray2;
}
.M_Window h2 {
	color: @blue4;
	// font-weight: bold;
	// font-style: italic;
}
.M_FormCaret {
	background-color: @blue3;
	color: white;
}


@arrow-size: 8px;
.messageContent {
	float: left;
	width: calc(100% - 35px - @arrow-size);
	padding: 10px;
	background-color: @gray1;
	position: relative;
}
.messageContent.right {
	margin: 0 @arrow-size 10px 0;
}
.messageContent.left {
	margin: 0 0 10px @arrow-size;
}
.messageTitle {
	font-size: 11px;
	text-align: center;
}
.messageContent.right .arrow {
	width: 0;
	height: 0;
	border-top: @arrow-size solid transparent;
	border-bottom: @arrow-size solid transparent;
	border-left: @arrow-size solid @gray1;
	position: absolute;
	right: -@arrow-size;
}
.messageContent.left .arrow {
	width: 0;
	height: 0;
	border-top: @arrow-size solid transparent;
	border-bottom: @arrow-size solid transparent;
	border-right: @arrow-size solid @gray1;
	position: absolute;
	left: -@arrow-size;
}
.messageContent .fa-trash {
	cursor: pointer;
}



.winimage_fileslist img {
	display: inline;
	margin: 15px 15px 0 0;
}


.contactsdetail_frame {
	text-align: center;
	line-height: 15px;
}
.contactsdetail_frame .contactsdetail_frame_nb {
	font-size: 30px;
	line-height: 20px;
	color: @blue1;
	padding-top: 10px;
	// font-weight: bold;
}
// .M_Col4.M_MarginRight.contactsdetail_frame {
//   padding: 10px 10px;
// }
.contacts_details_maindiv .M_TableList td {
	// font-size: 13px;
	height: auto;
	padding: 2px 5px;
}
.contacts_details_maindiv h2 {
	margin-top: 27px;
}
.contacts_details_maindiv h1 + h2 {
	margin-top: 0;
}
.contacts_details_maindiv h3, #rooms_col_details h3, #forms_details h3 {
	color: @blue3;
}
.contacts_details_maindiv .bg_col6 h3 {
	color: @font-default-color;
}
// .M_TabButton {
// 	font-size: 12px;
// 	text-transform: uppercase;
// 	color: @gray2;
// }


#contacts_btsettings, #contacts_btsearch,
#rooms_btsettings, #rooms_btsearch,
#messages_btsettings, #messages_btsearch,
#forms_btsettings, #forms_btsearch,
#establishments_btsettings, #establishments_btsearch {
	margin: 5px 10px 0 0;
	font-size: 15px;
	cursor: pointer;
	color: @gray2;
	&:hover {
		color: @gray1;
	}
}

#contacts_list_contacts, #contacts_list_groups, #contacts_list_agencies {
	height: calc(100% - @toolbar2-height - 34px - 34px);
}
.messagelittle {
	font-size: 11px;
	margin-bottom: 10px;
}

#contactswinimport_fields .M_FormGroup  {
	margin-bottom: 0;
}
#contactswinimport_fields .M_FormGroup:after {
	content: "";
	display: block;
}

.txt_colwhite {
	color: white;
}
.txt_col1 {
	color: @blue3;
}
.txt_col2 {
	color: @green3;
}
.txt_col3 {
	color: @red3;
}
.txt_col4 {
	color: @purple3;
}
.txt_col5 {
	color: @yellow3;
}
.txt_col6 {
	color: @monogray3;
}

.bg_col1 {
	background-color: @blue1;
}
.bg_col2 {
	background-color: @green3;
}
.bg_col3 {
	background-color: @red3;
	color: white;
}
.m_gantt-task.bg_col3 {
	color: @font-default-color;
}
.bg_col4 {
	background-color: @purple3;
	color: white;
}
.m_gantt-task.bg_col4 {
	color: @font-default-color;
}
.bg_col5 {
	background-color: @yellow3;
}
.bg_col6 {
	background-color: @monogray2;
}
.bg_col7 {
	background-color: @blue3;
	color: white;
}
.m_gantt-task.bg_col7 {
	color: @font-default-color;
}
.bg_col8 {
	background-color: @blue2;
}




@login-width-form: 400px;
#loginpage {
}
#loginpartimage {
	background-image: url(/images/bg_login01.jpg);
	background-size: cover;
	background-position: center;
	width: calc(100% - @login-width-form);
}
#loginpartimage_txt {
	position: absolute;
	bottom: 100px;
	left: 15%;
	width: 70%;
	h1, h2 {
		color: white;
		font-weight: normal;
		font-weight: 100;
	}
	h1 {
		font-size: 40px;
		line-height: 42px;
		margin: 0;
		font-style: italic;
	}
	h2 {
		margin: 15px 0 0 0;
	}

}
#loginpartimage_quote {
	position: absolute;
	background-image: url(/images/quote.png);
	width: 66px;
	height: 56px;
	top: 0;
	left: -100px;
}
#loginpartform {
	width: @login-width-form;
	background-color: white;
	padding: 30px;
	img {
		display: inline-block;
	}
}
#loginInfosBt {
  margin: 5px 15px 0 0;
  cursor: pointer;
  display: table;
}
#loginInfosBt > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px 0 0;
  line-height: 10px;
}
#loginFullScreen {
  margin: 18px 0 0 0;
  cursor: pointer;
  font-size: 18px;
}
#loginAlert {
	margin: 18px 0 0 0;
    cursor: pointer;
    font-size: 18px;
}
.loginAlertLi {
	border-bottom: 1px solid @gray1;
	span {
		float: left;
		font-size: 20px;
		width: 30px;
	}
	& > .loginAlertLiContent {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		width: calc(100% - 40px);
	}
	& > .loginAlertLiContent2 {
		display: block;
		float: left;
		margin: 0 5px 0 0;
		padding: 0;
		width: 35px;
		height: 35px;
	}
	.loginAlertLiLittle {
		font-size: 10px;
		color: @monogray4;
		line-height: 14px;
	}
}



.c3-circle {
	r: 3px;
	stroke-width: 1px;
	stroke: @gray1;
}
.c3-chart-arc text {
	fill: @gray5;
}

#candidates_dd {
	min-height: 300px;
	width: 100%;
	table-layout:fixed;
}
#candidates_dd td {
	vertical-align: top;
	width: 20%;
	padding: 0 10px;
	border-right: 1px solid @gray1;
}
.candidates_dditem {
	// background-color: @red3;
	padding: 5px 10px;
	margin: 0 0 10px 0;
	cursor: pointer;
	border-radius: 5px;
	font-size: 12px;
	line-height: 15px;
}
.candidates_dditem b {
	font-size: @font-size-base;
}
#monthlyreports_chartagencies .c3-axis-y text {
	fill: #3282C3;
}
#monthlyreports_chartagencies .c3-axis-y2 text {
	fill: #977F21;
}
#monthlyreports_chart1 .c3-axis-y text {
	fill: #3282C3;
}
#monthlyreports_chart2 .c3-axis-y text {
	fill: #977F21;
}

a.agency_selector {
	background-color: transparent;
	color: #C7682A;
	border: 1px solid #C7682A;
	text-decoration: none;
	padding: 3px 5px;
	font-size: 18px;
	border-radius: 5px;
}
a.agency_selector.checked {
	background-color: #C7682A;
	color: white;
	border: 1px solid transparent;
}


.agency_picker, .agency_allbt {
  float: left;
  background-color: #ffffff;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.agency_allbt {
	background-color: @green2;
}
.agency_picker.checked {
  background-color: @blue3;
}

#mainbtmenus {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: red;
	padding: 8px 0 0 0;
	background-color: @gray2;
	text-align: center;
}
.M_WindowBody {
	padding-bottom: 50px;
}
// .M_Window .M_TableListOdd {
// 	background-color: transparent;
// }
// .M_Window .M_TableListEven {
// 	background-color: white;
// }


#preferences_rightsall td {
	padding: 0 10px;
}


#search_result1 img, #search_result1 h1 {
	float: left;
	display: block;
	margin-right: 30px;
}
#search_result1 li {
	padding-left: 64px;
}

.agencywithcoin {
	background-image: url(/images/coin-coche.png);
	background-repeat: no-repeat;
}
.agencywithred {
	background-color: @red3;
	color: white;
}


.M_Button.primary {
	background-color: @orange1;
}
.M_Button.primary:hover {
	background-color: @orange2;
}
.M_Button.primary.M_ModalSave {
	background-color: @blue3;
}
.M_Button.primary.M_ModalSave:hover {
	background-color: @blue2;
}
.M_Button.primary.M_ModalSave[disabled], .M_Button.primary.M_ModalSave:disabled, .M_Button.primary.M_ModalSave:hover[disabled] {
	background-color: transparent;
}

.infos {
	font-size: 12px;
	line-height: 13px;
}

@media only screen and (max-width : 1024px) {
	// .mainsearch {
	// 	display: none;
	// }
}

.m_gantt-task.error {
	background-color: @red2;
}
.m_gantt-task.green {
	background-color: @green2;
}
.m_gantt-task.yellow {
	background-color: @yellow2;
}
.m_gantt-task.purple {
	background-color: @purple2;
}










