<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
    body, html {
        font-family: Arial, sans-serif;
    }
    .main {
        text-align: center;
    }
    </style>
</head>
<body>

<div class="main">
    <div><img src="/images/ill_monster1.png" /></div>
    <h1><%= title %></h1>
    <p><%= text %></p>
</div>

</body>
</html>