<div class="M_WindowContent" id="">
	<div class="M_WindowHeader">
		<div class="M_FloatRight">
			<div id="actionswinedit_ac_share"></div>
		</div>
		<h1 id="actionswinedit_title">Edition d'une action</h1>
	</div>
	<div class="M_WindowBody">
		<div class="M_FlexRow">
			<div class="M_FlexRow">
				<div id="actionswinedit_co_id_contact" style="min-width:66%;"></div>
				<div style="padding:20px 0 0 0;">
					<button type="button" class="M_Button little primary" id="actionswinedit_btcontactmodify">Modifier</button>
					<button type="button" class="M_Button little primary" id="actionswinedit_btcontactcreate">Nouveau</button>
				</div>
			</div>
			<div id="actionswinedit_co_id_user" style="max-width:25%;"></div>
		</div>


		<hr />
		<div id="actionswinedit_contactinfos"></div>
		<hr />
		<!-- <div class="M_FlexRow">
			<div id="actionswinedit_ac_name" style="min-width:50%;"></div>
			<div id="actionswinedit_ac_price"></div>
			<div id="actionswinedit_ac_date"></div>
		</div> -->
		<!-- <div id="actionswinedit_ac_states" style="margin-top:5px;"></div>
		<div class="M_Clear"></div> -->
		<div class="M_FlexRow">
			<div id="actionswinedit_ac_type"></div>
			<div></div>
		</div>

		<div id="actionswinedit_panel_call">
			<div class="M_FlexRow">
				<div class="">
					<div id="actionswinedit_ac_call_date"></div>
					<div id="actionswinedit_ac_call_text"></div>
				</div>
				<div>
					<div id="actionswinedit_ac_call_result"></div>
					<div id="actionswinedit_ac_call_co_id"></div>
					<div id="actionswinedit_ac_call_recalldate"></div>
				</div>
			</div>
		</div>
		<div id="actionswinedit_panel_estimate">
			<button type="button" class="M_Button little primary" id="actionswinedit_btestimatecreate">Nouveau devis</button>
		</div>



	</div>
	<div class="M_WindowFooter">
		<div class="M_FloatRight">
			<button type="button" class="M_ModalSave M_Button primary">Enregistrer</button>
		</div>
		<div class="M_FloatRight">
			<button type="button" class="M_ModalCancel M_Button">Annuler</button>
		</div>
		<div class="M_FloatLeft">
			<button type="button" class="M_ModalDelete M_Button danger">Supprimer</button>
		</div>
	</div>
</div>