<div class="M_WindowContent" id="">
   <div class="M_WindowHeader">
      <div class="M_FloatRight">
         <div id="calendarwinedit_ac_share"></div>
      </div>
      <h1 id="calendarwinedit_title">Edition d'un événement</h1>
   </div>
   <div class="M_WindowBody">

      <div id="calendarwinedit_ev_start"></div>
      <div id="calendarwinedit_ev_stop"></div>
      <!-- <div id="calendarwinedit_ev_summary"></div> -->
      <div id="calendarwinedit_ev_description"></div>

   </div>
   <div class="M_WindowFooter">
      <div class="M_FloatRight">
         <button type="button" class="M_ModalSave M_Button primary">Enregistrer</button>
      </div>
      <div class="M_FloatRight">
         <button type="button" class="M_ModalCancel M_Button">Annuler</button>
      </div>
      <div class="M_FloatLeft">
         <button type="button" class="M_ModalDelete M_Button danger">Supprimer</button>
      </div>
   </div>
</div>