<div class="M_WindowContent">
   <div class="M_WindowHeader">
      <div class="M_TabsButtons" id="candidateswindetails_tabsbuttons">
         <div for="candidateswindetails_details" class="M_TabButton active">Candidat</div>
         <div for="candidateswindetails_history" class="M_TabButton">Historique</div>
         <div for="candidateswindetails_steps" class="M_TabButton">En agence</div>
         <div for="candidateswindetails_steps2" class="M_TabButton">Hors agence</div>
         <div class="M_Clear"></div>
      </div>
   </div>
   <div class="M_WindowBody" style="">
      <div style="position:absolute;top:0;right:0;font-size:30px;">
         <a href="javascript:void(0);" id="candidateswindetails_btprint">
            <span class="fa fa-print"></span>
         </a>
      </div>
      <div class="M_Tabs" id="candidateswindetails_tabs">
         <div id='candidateswindetails_details' class="M_Tab active"></div>
         <div id='candidateswindetails_history' class="M_Tab">
            <div class="M_Row">
               <div class="M_Col3" id="candidateswindetails_ac_type"></div>
               <div class="M_Col7" id="candidateswindetails_ac_text"></div>
               <div class="M_Col2" style="padding:11px 0 0 15px;">
                  <button class="M_Button primary" id="candidateswindetails_btsaveaction">Enregistrer</button>
               </div>
            </div>
            <div id='candidateswindetails_historylist'></div>
         </div>
         <div id='candidateswindetails_steps' class="M_Tab">
            <!-- <h3>En agence</h3> -->
            <div id="candidateswindetails_cbs"></div>
            <div id="">
               <button class="M_Button primary" id="candidateswindetails_btcreatecontact">Créer un utilisateur</button>
            </div>
            <!-- <div id=""><button class="M_Button primary" id="candidateswindetails_btseecontact">Voir l'utilisateur</button></div> -->
         </div>
         <div id='candidateswindetails_steps2' class="M_Tab">
            <!-- <h3>Hors agence</h3> -->
            <div id="candidateswindetails_cbs2"></div>
         </div>
      </div>
   </div>
   <div class="M_WindowFooter">
      <!-- <div class="M_FloatRight"><button id="candidateswindetails_bt_modify" class="M_Button primary">Modifier</button></div> -->
      <div class="M_FloatRight">
         <button id="candidateswindetails_bt_cancel" type="button" class="M_ModalCancel M_Button">Fermer</button>
      </div>
      <div class="M_FloatLeft">
         <button id="candidateswindetails_bt_archive" type="button" class="M_ModalCancel M_Button danger">Archiver</button>
      </div>
      <div class="M_FloatLeft">
         <button id="candidateswindetails_bt_delete" type="button" class="M_ModalCancel M_Button danger">Effacer</button>
      </div>
   </div>
</div>