<div class="M_PanelScroller">
   <div class="M_FloatRight">
      <button class="M_Button primary" id="candidates_btnew">Nouveau candidat</button>
   </div>
   <!-- <div class="M_FloatRight"><button class="M_Button primary" id="candidates_btimport">Import</button></div> -->
   <div class="M_FloatRight fa fa-times-circle M_MarginRight M_Resetform" id="candidates_filterreset" style="padding-top:16px;"></div>
   <div class="M_FloatRight" id="candidates_filterarchive" style="width:220px; padding-top:18px;"></div>
   <div class="M_FloatRight" id="candidates_filterpost" style="width:170px;"></div>
   <div class="M_FloatRight M_MarginRight" id="candidates_filtercompany" style="width:170px;"></div>
   <div class="M_FloatRight M_MarginRight" id="candidates_filtername" style="width:170px;"></div>
   <!-- <div class="M_FloatLeft">Rechercher</div> -->
   <h3>Module DRH</h3>
   <h1 id="candidates_title">X candidats</h1>


   <div class="M_Panel M_MarginBottom">
      <table id="candidates_dd">
         <tr>
            <td id="candidates_dd1">
               <div class="M_Section M_SectionGroup_1">
                  <h2>Prise de contact</h2>
               </div>
            </td>
            <td id="candidates_dd2">
               <div class="M_Section M_SectionGroup_1">
                  <h2>Proposition effectuée</h2>
               </div>
            </td>
            <td id="candidates_dd3">
               <div class="M_Section M_SectionGroup_1">
                  <h2>Refusée</h2>
               </div>
            </td>
            <td id="candidates_dd4">
               <div class="M_Section M_SectionGroup_1">
                  <h2>Proposition Acceptée</h2>
               </div>
            </td>
            <td id="candidates_dd5">
               <div class="M_Section M_SectionGroup_1">
                  <h2>En Agence</h2>
               </div>
            </td>
         </tr>
      </table>
   </div>
   <div class="M_Panel M_MarginBottom">
      <div id="candidates_table"></div>
   </div>
   <div class="M_Panel">
      <div id="candidates_averages"></div>
   </div>
</div>