<div class="M_WindowContent">
   <div class="M_WindowHeader">
      <h1 id="candidateswinedit_title">Gestion d'une candidature</h1>
   </div>
   <div class="M_WindowBody">
      <form id="candidateswinedit_form">
         <div class="">
            <div class="M_Row">
               <div id="candidateswinedit_ca_civility" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_firstname" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_name" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_birthday" class="M_Col3 M_MarginRight"></div>
            </div>
            <!-- <div id="candidateswinedit_ca_keywords"></div> -->
            <div class="M_Row M_MarginTop">
               <div class="M_Col5 M_MarginRight">
                  <div style="height:21px;"></div>
                  <div id="candidateswinedit_ca_email1"></div>
                  <div id="candidateswinedit_ca_email2"></div>
                  <div id="candidateswinedit_ca_email3"></div>
                  <div id="candidateswinedit_ca_tel1"></div>
                  <div id="candidateswinedit_ca_tel2"></div>
                  <div id="candidateswinedit_ca_tel3"></div>
                  <div id="candidateswinedit_ca_mobile1"></div>
                  <div id="candidateswinedit_ca_mobile2"></div>
                  <div id="candidateswinedit_ca_mobile3"></div>
                  <div id="candidateswinedit_ca_fax1"></div>
                  <div id="candidateswinedit_ca_fax2"></div>
                  <div id="candidateswinedit_ca_fax3"></div>
                  <div id="candidateswinedit_ca_web1"></div>
                  <div id="candidateswinedit_ca_web2"></div>
                  <div id="candidateswinedit_ca_web3"></div>
               </div>
               <div class="M_Col4 M_MarginRight">
                  <h3>Adresse</h3>
                  <div id="candidateswinedit_ca_address1"></div>
                  <div id="candidateswinedit_ca_address2"></div>
                  <div id="candidateswinedit_ca_address3"></div>
                  <div id="candidateswinedit_ca_country"></div>
                  <div id="candidateswinedit_ca_zip"></div>
                  <div id="candidateswinedit_ca_city"></div>
               </div>
               <div class="M_Col3 M_PaddingTop">
                  <!-- <h3>Réseaux sociaux</h3> -->
                  <div id="candidateswinedit_ca_linkedin"></div>
                  <div id="candidateswinedit_ca_viadeo"></div>
               </div>
            </div>
         </div>

         <hr>
         <div class="">
            <h2>Situation actuelle</h2>
            <div class="M_Row">
               <div id="candidateswinedit_ca_company" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_group" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_post" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_clause" class="M_Col3"></div>
            </div>
            <div class="M_Row M_MarginTop">
               <div id="candidateswinedit_ca_city" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_type" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_experienceyears" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_software" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_planning" class="M_Col3"></div>

            </div>
            <div class="M_Row M_MarginTop">
               <div id="candidateswinedit_ca_salary" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_prims" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_nbhours" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_salaryvariable" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_purcent" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_13months" class="M_Col2"></div>
            </div>
            <div class="M_Row M_MarginTop">
               <div id="candidateswinedit_ca_dfs" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_car" class="M_Col4 M_MarginRight"></div>
               <div id="candidateswinedit_ca_meal" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_insurance" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_participation" class="M_Col2"></div>
            </div>
            <div class="M_Row M_MarginTop">
               <div id="candidateswinedit_ca_comments" class="M_Col6 M_MarginRight"></div>
               <div id="candidateswinedit_ca_otheravantages" class="M_Col6"></div>
            </div>
         </div>

         <hr>
         <div class="">
            <h2>Proposition</h2>
            <div class="M_Row">
               <div id="candidateswinedit_ag_id" class="M_Col4 M_MarginRight"></div>
               <div id="candidateswinedit_ca_agency" class="M_Col4 M_MarginRight"></div>
               <div id="candidateswinedit_ca_posttotake" class="M_Col4"></div>
            </div>
            <div class="M_Row M_MarginTop">
               <div id="candidateswinedit_ca_salaryproposed" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_variableproposed" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_13monthsproposed" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_calculsalary" class="M_Col2" style="font-size:25px; padding-top:20px;"></div>
            </div>
            <div class="M_Row M_MarginTop">
               <div id="candidateswinedit_ca_salarymaintains" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_salarymaintainstime" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_positivepoints" class="M_Col4 M_MarginRight"></div>
               <div id="candidateswinedit_ca_negativepoints" class="M_Col4"></div>
            </div>
            <div class="M_Row M_MarginTop">
               <div id="candidateswinedit_ca_secretary" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_contractprorh" class="M_Col3 M_MarginRight"></div>
               <div id="candidateswinedit_ca_cv" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_customercopy" class="M_Col2 M_MarginRight"></div>
               <div id="candidateswinedit_ca_bdd" class="M_Col2"></div>
            </div>
            <hr />
            <h2>Evolution fixe sur contrat</h2>
            <div id="candidateswinedit_ca_ca_type" class=""></div>
            <div id="candidateswinedit_evolution">
               <div class="M_Row">
                  <div id="candidateswinedit_ca_evodate1" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evodate2" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evodate3" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evodate4" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evodate5" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evodate6" class="M_Col2"></div>
               </div>
               <div class="M_Row">
                  <div id="candidateswinedit_ca_evosalary1" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evosalary2" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evosalary3" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evosalary4" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evosalary5" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evosalary6" class="M_Col2"></div>
               </div>
               <div class="M_Row">
                  <div id="candidateswinedit_ca_evocomm1" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evocomm2" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evocomm3" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evocomm4" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evocomm5" class="M_Col2"></div>
                  <div id="candidateswinedit_ca_evocomm6" class="M_Col2"></div>
               </div>
            </div>
         </div>
      </form>
   </div>
   <div class="M_WindowFooter">
      <div class="M_FloatRight">
         <button id="candidateswinedit_bt_save" type="button" class="M_ModalSave M_Button primary">Enregistrer</button>
      </div>
      <div class="M_FloatRight">
         <button id="candidateswinedit_bt_cancel" type="button" class="M_ModalCancel M_Button">Annuler</button>
      </div>
      <div class="M_FloatLeft">
         <button id="candidateswinedit_bt_delete" type="button" class="M_ModalDelete M_Button danger">Supprimer</button>
      </div>
   </div>
</div>