<div class="M_WindowContent">
   <div class="M_WindowHeader">
      <h1 class="">Créer un utilisateur</h1>
   </div>
   <div class="M_WindowBody M_PadTop">
      <div class="M_Row">
         <div class="M_Col12" id="candidateswinnewuser_ag_id"></div>
         <div class="M_Col12" id="candidateswinnewuser_co_type"></div>
         <div class="M_Col12" id="candidateswinnewuser_co_login"></div>
         <div class="M_Col12" id="candidateswinnewuser_co_password"></div>
      </div>
   </div>
   <div class="M_WindowFooter">
      <div class="M_FloatRight">
         <button type="button" class="M_Button primary bold" id="candidateswinnewuser_bt_save">Enregistrer</button>
      </div>
      <div class="M_FloatRight">
         <button type="button" class="M_Button M_MarginRight" id="candidateswinnewuser_bt_cancel">Annuler</button>
      </div>
   </div>
</div>