<div class="M_WindowContent">
	<div class="M_WindowHeader">
		<h1 class="">Edition
			<b>d'une adresse</b>
		</h1>
	</div>
	<div class="M_WindowBody M_PadTop">
		<div class="M_Row">
			<div id="contactswinaddress_ad_label"></div>
			<div id="contactswinaddress_ad_address1"></div>
			<div id="contactswinaddress_ad_address2"></div>
			<div id="contactswinaddress_ad_address3"></div>
			<div class="M_FlexRow">
				<div class="" id="contactswinaddress_ad_zip"></div>
				<div class="M_FlexGrow2" id="contactswinaddress_ad_city"></div>
			</div>
			<div id="contactswinaddress_ad_country"></div>
		</div>
	</div>
	<div class="M_WindowFooter">
		<div class="M_FloatRight">
			<button type="button" class="M_Button primary bold contactswinaddress_bt_save">Enregistrer</button>
		</div>
		<div class="M_FloatRight">
			<button type="button" class="M_Button M_MarginRight contactswinaddress_bt_cancel">Annuler</button>
		</div>
		<div class="M_FloatLeft">
			<button type="button" class="M_ModalDelete M_Button danger contactswinaddress_bt_delete">Supprimer</button>
		</div>
	</div>
</div>