<div class="M_WindowContent">
	<div class="M_WindowHeader">
		<h1 class="">Ajouter des contacts <b>au groupe</b></h1>
	</div>
	<div class="M_WindowBody M_PadTop" style="">
		<div class="M_Row">
			<div class="M_Col12 wingroupchoose_group" style=""></div>
		</div>
	</div>
	<div class="M_WindowFooter">
		<div class="M_FloatRight"><button type="button" class="M_Button primary bold wingroupchoose_bt_save">Enregistrer</button></div>
		<div class="M_FloatRight"><button type="button" class="M_Button M_MarginRight wingroupchoose_bt_cancel">Annuler</button></div>
	</div>
</div>