<div>
	<!-- width:500px; -->
	<div class="contacts_details_maindiv">

		<div class="M_Row">
			<div class="M_FloatRight">
				<% if (canModify) { %><button type="button" class="contactsdetail_btmodify M_Button primary">Modifier</button><% } %>
				<!-- <button type="button" class="contactsdetail_btactions M_Button primary">Action <span class="fa fa-caret-down"></span></button> -->
			</div>
			<div class="M_ImgRoundContainer M_FloatLeft" style="margin: 0 20px 0 0;">
				<div class=" M_ImgRound" style="width:100px; height:100px; background-image:url(/1.0/contacts/avatar/100/100/<%= row_co.co_id %>?d=<%= moment(row_co.updatedAt).valueOf() %>);"></div>
			</div>
			<h1 style="margin:10px 0 0 0;"><%= M_.Shared.completeName(row_co, true) %></h1>
			<!-- <% if (row_co.ag_id) { %><h2 style="margin:0;">Agence <%= row_co.ag_id.ag_name %></h2><% } %> -->
			<h2><%= M_.Services.displayRight(row_co) %></h2>
			<% if(row_co.co_code) { %><div><b>Code société :</b> <%= row_co.co_code %></div><% } %>
			<div class="M_Clear"></div>
		</div>
		<div class="M_Row" style="margin: 10px 0 5px 0;">
			<div class="contactsdetail_co_status" style="width:300px; float:left;"></div>
			<div class="contactsdetail_co_status2" style="float:left; margin-left:15px;"></div>
			<div class="M_Clear"></div>
		</div>

		<div class="M_Row M_Pad M_MarginBottom" style="padding-top:0;">
			<div class="contactsdetail_infos"></div>

		</div>


		<% if (row_co.co_keywords && row_co.co_keywords.length) { %>
		<div style="margin-top:15px;">
			<% _.each(row_co.co_keywords, function(keyword) { %>
				<div class="M_ComboboxMultiItem selected"><%= keyword %></div>
			<% }) %>
			<div class="M_Clear"></div>
		</div>
		<% } %>





		<div class="M_MarginTop little"><%= M_.Services.drawCreatedModified(row_co) %><br>
			ID : <%= row_co.co_id %></div>
		<div></div>

	</div>
</div>