<div class="M_FlexCols">
	<div style="max-height:55px;">
		<h3>Les contacts</h3>
		<h1>Tous mes contacts</h1>
	</div>
	<div class="M_Flex M_FlexMargin M_FlexGrow1">
		<div style="max-width:200px;" class="M_FlexCols M_Panel M_FlexNoPadding ">
			<div class="M_Toolbar2">
				<div class="M_FloatRight M_Pointer">
					<button id="contacts_btaddgroup" type="button" class="M_FloatRight M_Button primary little" id="home_bt_action" style="margin-top:-4px;"><i class="fa fa-plus M_IconFa"></i></button>
				</div>
				<h3 id="contacts_header_groups"></h3>
			</div>
			<div style="height:34px; padding:5px 0 0 0;" id="contacts_bases"></div>
			<div id="contacts_list_groups" style="" class="M_FlexGrow1"></div>
		</div>
		<div style="max-width:200px;" class="M_FlexCols M_Panel M_FlexNoPadding">
			<div class="M_Toolbar2">
				<div class="M_FloatRight M_Pointer" style="margin-top:-4px;">
					<button id="contacts_btaddcontact" type="button" class="M_FloatRight M_Button primary little" style="margin-top:2px;"><i class="fa fa-plus M_IconFa"></i></button>
					<div class="M_FloatRight M_Pointer" id="contacts_btsearch">
						<i class="fa fa-search"></i>
					</div>
					<div class="M_FloatRight M_Pointer" id="contacts_btsettings">
						<i class="fa fa-gear"></i>
					</div>
				</div>
				<h3 id="contacts_header_contacts"></h3>
			</div>
			<div style="height:34px; padding:5px 0 0 0;" id="contacts_simplesearch"></div>
			<div id="contacts_list_contacts" class="M_FlexGrow1"></div>
			<div style="height:34px; text-align:right;" class="M_Pad"><a id="contacts_selectall" href='javascript:void(0);'>Tout sélectioner</a></div>
		</div>
		<div class="M_Panel">
			<div id="contacts_details_content" class="M_PanelScroller"></div>
		</div>
	</div>

	<!-- <div id="contacts_alltitles">
		<div style="float:right;" id="contacts_deletedinput"></div>
		<h3>Les contacts</h3>
		<h1>Agence</h1>
		<div class="M_Clear"></div>
	</div>
	<div id="contacts_col_groups">
		<div class="M_Toolbar2 M_Panel">
			<div class="M_FloatRight M_Pointer">
				<button id="contacts_btaddgroup" type="button" class="M_FloatRight M_Button primary little" id="home_bt_action" style="margin-top:-4px;"><i class="fa fa-plus M_IconFa"></i></button>
			</div>
			<h3 id="contacts_header_groups"></h3>
		</div>
		<div style="height:34px; padding:5px 0 0 0; background-color:#f0f0f0;" id="contacts_bases"></div>
		<div id="contacts_list_groups" class="M_Content M_withToolbar2"></div>
	</div>
	<div id="contacts_col_contacts">
		<div class="M_Toolbar2 M_Panel">
			<div class="M_FloatRight M_Pointer" style="margin-top:-4px;">
				<button id="contacts_btaddcontact" type="button" class="M_FloatRight M_Button primary little" style="margin-top:2px;"><i class="fa fa-plus M_IconFa"></i></button>
				<div class="M_FloatRight M_Pointer" id="contacts_btsearch">
					<i class="fa fa-search"></i>
				</div>
				<div class="M_FloatRight M_Pointer" id="contacts_btsettings">
					<i class="fa fa-gear"></i>
				</div>
			</div>
			<h3 id="contacts_header_contacts"></h3>
		</div>
		<div style="height:34px; padding:5px 0 0 0; background-color:#f0f0f0;" id="contacts_simplesearch"></div>
		<div id="contacts_list_contacts" class="M_Content M_withToolbar2"></div>
		<div id="contacts_list_agencies" class="M_Content M_withToolbar2"></div>
		<div style="height:34px; padding-top:5px; text-align:right;" class="M_Pad"><a id="contacts_selectall" href='javascript:void(0);'>Tout sélectioner</a></div>
	</div>
	<div id="contacts_col_details">
		<div id="contacts_details" class="M_FullHeight M_Panel">
			<div id="contacts_details_content" class="M_PanelScroller"></div>
		</div>
	</div> -->
</div>
