<div class="M_WindowContent" id="">
	<div class="M_WindowHeader">
		<div class="M_FloatRight">
			<div id="documentswinedit_ac_share"></div>
		</div>
		<h1 id="documentswinedit_title">Edition d'un document</h1>
	</div>
	<div class="M_WindowBody">

		<div id="documentswinedit_do_name"></div>
		<div id="documentswinedit_do_file"></div>

	</div>
	<div class="M_WindowFooter">
		<div class="M_FloatRight">
			<button type="button" class="M_ModalSave M_Button primary">Enregistrer</button>
		</div>
		<div class="M_FloatRight">
			<button type="button" class="M_ModalCancel M_Button">Annuler</button>
		</div>
		<div class="M_FloatLeft">
			<button type="button" class="M_ModalDelete M_Button danger">Supprimer</button>
		</div>
	</div>
</div>