
<div class="M_PanelScroller">
	<div id="home_bg" class="M_MarginBottom" style="background-image:url(/images/bg_login1.jpg)">
		<div id="home_bg2" style="padding:120px 0 0 60%; color:white;">
			<h1 style="font-size:50px; padding:0; margin:0; line-height:60px;">Bienvenue</h1>
			<h3 style="color:white; padding:0 0 6px 0; margin:0;" id="home_namefirstname"><%= M_.Shared.completeName(M_.App.Session, false, true) %>, dans votre extranet</h3>
			<img style="display:block; float:left; margin-top:10px; width:130px;" src="/images/ill_monster1.png" alt=""></p>
		</div>
	</div>
	<div class="M_Row M_MarginBottom">
		<div class="M_Col12" style="overflow:hidden;">
			<div class="M_Flex M_FlexGutter">
				<div class="M_FlexGrow3">
					<div id="home_actions" class="M_Panel">
                        <div id="chart"></div>
                    </div>
				</div>
				<div class="M_AlignCenter home_hidegraphs">
					<div class="M_Panel">
						<h3>Nombre de clients</h3>
						<div id="home_progression_clientsnb" class="home_3stats_num">-</div>
						<div>Semaine <span class="re_weeknb"></span></div>
						<div id="home_graph_clientsnb" class="M_MarginTop"></div>
					</div>
				</div>
				<div class="M_AlignCenter home_hidegraphs">
					<div class="M_Panel">
						<h3>Moyenne nb d'intérims</h3>

						<div id="home_progression_interimsnb" class="home_3stats_num">-</div>
						<div>Semaine <span class="re_weeknb"></span></div>
						<div id="home_graph_interimsnb" class="M_MarginTop"></div>
					</div>
				</div>
				<div class="M_AlignCenter home_hidegraphs">
					<div class="M_Panel">
						<h3>Nombre d'heures hebdo.</h3>

						<div id="home_progression_workinghoursnb" class="home_3stats_num">-</div>
						<div>Semaine <span class="re_weeknb"></span></div>
						<div id="home_graph_workinghoursnb" class="M_MarginTop"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
