<div>
   <div class="M_FlexCol" style="height:100%;">
      <div class="M_FlexGrow0">
         <div class="M_FloatRight">
            <button type="button" class="M_Button primary" id="invoices_btcreate">Nouveau...</button>
         </div>
         <div class="M_FloatLeft" style="margin-right:30px; ">
            <h1>Les factures</h1>
         </div>
         <div class="M_FloatLeft" style="width:160px; margin-right:10px; margin-top:-10px;" id="invoices_filter1"></div>
         <div class="M_FloatLeft" style="width:120px; margin-right:10px; margin-top:-10px;" id="invoices_filter2"></div>
         <div class="M_FloatLeft" style="width:120px; margin-right:10px; margin-top:-10px;" id="invoices_filter3"></div>
         <div class="M_FloatLeft" style="width:auto; margin-right:10px; margin-top:10px;" id="invoices_filter4"></div>
         <div class="M_FloatLeft" style="width:auto; margin-right:10px; margin-top:10px;" id="invoices_filter5"></div>
         <div class="M_FloatLeft" style="width:auto; margin-right:10px; margin-top:10px;" id="invoices_filter6"></div>
      </div>
      <div class="M_FlexGrow1 M_Panel M_Scroll">
         <!-- <div class="M_Scroll" style="height:100%;"> -->
         <div id="invoices_filter1" class="M_Float" style="margin-right:15px;"></div>
         <div id="invoices_filter2" class="M_Float" style="margin-right:15px;"></div>
         <div id="invoices_filter3" class="M_Float" style="margin-right:15px;"></div>
         <div id="invoices_filter4" class="M_Float" style="margin-right:15px;"></div>
         <div class="M_Clear"></div>
         <div id="invoices_list" class=""></div>
         <!-- </div> -->
      </div>
   </div>
</div>