<div class="M_WindowContent" id="">
	<div class="M_WindowHeader">
		<h1 id="listswinedit_title">Edition d'un élément d'une liste</h1>
	</div>
	<div class="M_WindowBody">
		<div class="">
			<div class="" id="listswinedit_li_group"></div>
			<div class="" id="listswinedit_li_name"></div>
			<div class="" id="listswinedit_li_options"></div>
			<div class="" id="listswinedit_li_position"></div>
			<div class="" id="listswinedit_li_activate"></div>
		</div>
	</div>
	<div class="M_WindowFooter">
		<div class="M_FloatRight"><button id="listswinedit_btsave" type="button" class="M_ModalSave M_Button primary">Enregistrer</button></div>
		<div class="M_FloatRight"><button id="listswinedit_btcancel" type="button" class="M_ModalCancel M_Button">Annuler</button></div>
		<div class="M_FloatLeft"><button id="listswinedit_btdelete" type="button" class="M_ModalDelete M_Button danger">Supprimer</button></div>
	</div>
</div>
