
<div class="M_WindowContent" id="">
	<div class="M_WindowHeader">
		<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
		<!-- <div style="position:absolute; right:0; width:350px;">
			<div id="opportunitieswinedit_co_avatar"></div>
			<div id="opportunitieswinedit_co_avatarauto"></div>
		</div> -->
		<div class="M_FloatRight">
			<div id="opportunitieswinedit_op_share"></div>
		</div>
		<h1 id="opportunitieswinedit_title">Edition d'une opportunités</h1>
		<!-- <div>Pouvoir directement sélectionner une tâche, et le combobox tache afficherai les tâches oM_ModalOKù on est assigné</div> -->
	</div>
	<div class="M_WindowBody">
		<div class="M_FlexRow">
			<div class="M_FlexRow">
				<div id="opportunitieswinedit_co_id_contact" style="min-width:66%;"></div>
				<div style="padding:20px 0 0 0;">
					<button type="button" class="M_Button little primary" id="opportunitieswinedit_btcontactmodify">Modifier</button>
					<button type="button" class="M_Button little primary" id="opportunitieswinedit_btcontactcreate">Nouveau</button>
				</div>
			</div>
			<div id="opportunitieswinedit_co_id_user" style="max-width:25%;"></div>
		</div>


		<hr />
		<div id="opportunitieswinedit_contactinfos"></div>

		<hr />
		<div class="M_FlexRow">
			<div id="opportunitieswinedit_op_name" style="min-width:50%;"></div>
			<div id="opportunitieswinedit_op_price"></div>
			<div id="opportunitieswinedit_op_date"></div>
		</div>
		<div id="opportunitieswinedit_op_states" style="margin-top:5px;"></div>
		<div class="M_Clear"></div>
		<div id="opportunitieswinedit_op_checkboxs" style="margin-top:5px;"></div>
		<div class="M_Clear"></div>
		<div id="opportunitieswinedit_op_text" style="margin-top:10px;"></div>


		<hr />
		<div class="M_FloatRight">
			<div><button type="button" id="opportunitieswinedit_newinvoice" class="M_Button little primary">Nouveau devis</button></div>
		</div>
		<h3>Devis associé à l'opportunité</h3>
		<div id="opportunitieswinedit_invoices"></div>
		<div class="M_Clear"></div>
	</div>
	<div class="M_WindowFooter">
		<div class="M_FloatRight"><button type="button" class="M_ModalSave M_Button primary">Enregistrer</button></div>
		<div class="M_FloatRight"><button type="button" class="M_ModalCancel M_Button">Annuler</button></div>
		<div class="M_FloatLeft"><button type="button" class="M_ModalDelete M_Button danger">Supprimer</button></div>
	</div>
</div>
