<div class="M_FlexCol">
	<div class="M_FlexGrow0">
		<div class="M_FloatRight"><button id="preferences_btreturn" class="M_Button" onclick="window.open('#/Preferences','_self')">Retour accueil</button></div>
		<h3>Les préférences</h3>
		<h1 id="preferences_title">Toutes les préférences</h1>
	</div>
	<div class="M_Tabs M_Panel M_FlexGrow1" id="preferences_tabs">
		<% if (M_.Shared.canEditPreferencesRights(M_.App.Session)) { %>
		<div id="preferences_home" class="M_Tab active">
			<a href="#/Preferences/rights">Les droits</a>
		</div>
		<% } %>
		<div id="preferences_rights" class="M_Tab">
			<div id="preferences_rightsall"></div>
			<br/>
			<div><button type="button" id="preferences_rights_save" class="M_Button primary">Enregistrer</button></div>
		</div>
	</div>
</div>
