<div>
   <div class="M_FlexCol" style="height:100%;">
      <div class="M_FlexGrow0">
         <div class="M_FloatRight">
            <button type="button" class="M_Button primary" id="products_btcreate">Nouveau produit</button>
         </div>
         <h1 id="products-h1">Les produits</h1>
         <!-- <h2 id="gammes-gammes-h2"></h2> -->
         <!-- <div style="margin:15px 0 30px 0;" class="help">Les outils secondaires sont les questions des formulaires de type surveillance, consultation ou score.<br />Vous pouvez soit utiliser ceux déjà existants dans votre spécialité, soit créer un outil secondaire propre à la surveillance, consultation ou score que vous créerez.<br />Notre équipe validera d'abord votre nouveau outil secondaire avant de le présenter à la communauté Link4Life.</div> -->
      </div>
      <div class="M_FlexGrow1 M_Panel M_Scroll">
         <!-- <div class="M_Scroll" style="height:100%;"> -->
         <div id="products_filter1" class="M_Float" style="margin-right:15px;"></div>
         <div id="products_filter2" class="M_Float" style="margin-right:15px;"></div>
         <div id="products_filter3" class="M_Float" style="margin-right:15px;"></div>
         <div id="products_filter4" class="M_Float" style="margin-right:15px;"></div>
         <div class="M_Clear"></div>
         <div id="products_list" class=""></div>
         <!-- </div> -->
      </div>
   </div>
</div>