<div class="M_WindowContent" id="">
   <div class="M_WindowHeader">
      <h1 id="vacationswinedit_title">Edition d'une
         <b>absence</b>
      </h1>
   </div>


   <div class="M_WindowBody">
      <p id="vacationswinedit_infos"></p>
      <div class="M_Row">
         <div id="vacationswinedit_co_id_user" class="M_Col6 M_MarginRight"></div>
         <div id="vacationswinedit_ag_id" class="M_Col6 M_MarginRight"></div>
      </div>
      <div class="M_Row">
         <div id="vacationswinedit_va_status" class="M_Col6 M_MarginRight"></div>
      </div>
      <hr>
      <h2 id="vacationswinedit_nbdaysinfos"></h2>
      <div class="M_Row">
         <div class="M_Col6 M_MarginRight">
            <div class="M_Row">
               <div id="vacationswinedit_va_type" class="M_Col8"></div>
            </div>
            <div class="M_Row">
               <div class="M_Col8">
                  <div id="vacationswinedit_va_start"></div>
               </div>
               <div class="M_Col4" style="padding:20px 0 0 10px;">
                  <div id="vacationswinedit_va_start2"></div>
               </div>
            </div>
            <div class="M_Row">
               <div class="M_Col8">
                  <div id="vacationswinedit_va_end"></div>
               </div>
               <div class="M_Col4" style="padding:20px 0 0 10px;">
                  <div id="vacationswinedit_va_end2"></div>
               </div>
            </div>
         </div>
         <div class="M_Col6">
            <div id="vacationswinedit_va_comment"></div>
            <div id="vacationswinedit_va_comment2"></div>
            <div id="vacationswinedit_vt_description"></div>
         </div>
      </div>



      <hr>

      <div id="vacationswinedit_actions" class=""></div>
   </div>


   <div class="M_WindowFooter">
      <div class="M_FloatRight">
         <button id="vacationswinedit_save1" type="button" class="M_ModalSave M_Button primary">Enregistrer</button>
      </div>

      <div class="M_FloatRight" id="vacationswinedit_save2div">
         <button id="vacationswinedit_save2" type="button" class="M_ModalCancel M_Button inform">Valider</button>
      </div>
      <div class="M_FloatRight" id="vacationswinedit_save3div">
         <button id="vacationswinedit_save3" type="button" class="M_ModalCancel M_Button danger">Refuser</button>
      </div>

      <div class="M_FloatRight">
         <button id="vacationswinedit_cancel" type="button" class="M_ModalCancel M_Button">Annuler</button>
      </div>
      <div class="M_FloatLeft">
         <button id="vacationswinedit_delete" type="button" class="M_ModalDelete M_Button danger">Supprimer</button>
      </div>
   </div>
</div>