<div>
   <div class="M_FlexCol" style="height:100%;">
      <div class="M_FlexGrow0">
         <div class="M_FloatRight">
            <button type="button" class="M_Button primary" id="vacations_btcreate">Nouvelle abscence</button>
         </div>
         <h1 id="vacations_title">Les abscences</h1>
      </div>
      <div class="M_FlexGrow1 M_Panel M_Scroll">
         <div id="vacations_filter1" class="M_Float" style="margin-right:15px;"></div>
         <div id="vacations_filter2" class="M_Float" style="margin-right:15px;"></div>
         <div id="vacations_filter3" class="M_Float" style="margin-right:15px;"></div>
         <div id="vacations_filter4" class="M_Float" style="margin-right:15px;"></div>
         <div class="M_Clear"></div>


         <div class="M_Row">
            <div class="M_Col1" style="font-size:30px; text-align:center; padding-top:150px;">
               <span id="vacations_previousmonth" class="fa fa-arrow-circle-o-left"></span>
            </div>
            <div class="M_Col5 M_MarginRight">
               <h2 id="vacations_cal1title"></h2>
               <div id="vacations_cal1"></div>
            </div>
            <div class="M_Col5">
               <h2 id="vacations_cal2title"></h2>
               <div id="vacations_cal2"></div>
            </div>
            <div class="M_Col1" style="font-size:30px; text-align:center; padding-top:150px;">
               <span id="vacations_nextmonth" class="fa fa-arrow-circle-o-right"></span>
            </div>
         </div>
         <div class="M_Panel M_MarginTop">
            <h2>Les dernières absences déposées</h2>
            <div id="vacations_list"></div>
         </div>
         <div id="vacations_chart"></div>

      </div>
   </div>
</div>