<html>
<body>
    <div><img src="<%= morphineserver.config.serverurl %>/images/logoblack.png" width="200" style="width:200px; " /></div>
    <%- body %>
    <hr>
    <p>©<%= moment().year() %> Link4Life, en partenariat avec l'hôpital pédiatrique Nice CHU Lenval</p>
    <a href="http://www.link4life.fr">http://www.link4life.fr</a>
</body>
</html>
