<div class="M_allcontent">
	<div id="mainnav">
		<ul class="nav nav-main" id="mainnavcontent">
		</ul>
	</div>
	<div id="maincenter">
		<div id="maintoolsbar">
			<div id="maintoolsbarcontent">
				<div class="maintools">
					<div id="mainbtmenus"><span class="fa fa-reorder"></span></div>
				</div>
				<div class="mainseperation"></div>
				<div class="mainlogo"></div>
				<div class="mainseperation"></div>
				<div class="mainsearch">
					<span class="fa fa-search"></span>
					<input type="search" placeholder="Rechercher dans tous les modules" value="" name="mainsearch" id="mainsearchinput" style="width:300px;">
				</div>
				<div class="M_FloatRight" id="loginInfosBt">
					<span><span id="loginInfosBt_name"></span> <span class="fa fa-caret-down"></span><br><span style="font-size:10px;" id="loginInfosBt_role"></span></span>
					<span class="M_ImgRoundContainer" style="margin-right:15px; padding:0; width:35px; height:35px;"><div class="M_ImgRound" style="width:35px; height:35px; border-width:0;" id="mainavatar"></div></span>
					<!-- <span class="fa fa-gear"></span> -->
				</div>
				<div class="mainseperation" style="float:right;"></div>
				<div class="M_FloatRight" id="loginFullScreen"><span class="fa fa-desktop"></span></div>
				<div class="mainseperation" style="float:right;"></div>
				<div class="M_FloatRight" id="loginAlert"><span class="fa fa-bell"></span><span class="M_Badge" style="display:none;"></span></div>
			</div>
		</div>
		<div id="main"></div>
	</div>
</div>