<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%- Services.styles('packageBackend') %>
</head>
<body>

<%- body %>


<%- Services.scripts('packageBackend') %>


<%- Services.livereload() %>

</body>
</html>