<style>
	.mailtemplate h1 {
		font-size: 25px;
		margin: 0 0 10px 0;
		color: #9e9e9e;
	}

	.mailtemplate .cadre {
		margin-bottom: 10px;
		padding: 20px 30px;
	}

	.mailtemplate .cadre0,
	.mailtemplate .cadre0 h1,
	.mailtemplate .cadre0 p {
		color: white;
	}

	.mailtemplate .cadre0 {
		background-color: #444444;
	}

	.mailtemplate .cadre1 {
		background-color: white;
	}
</style>

<div style="background-color:#e4e4e4;" class="mailtemplate">
	<div style="width:600px; margin:0 auto;">
		<div>
			<table style="width:100%;">
				<tr>
					<td>
						<img src="/images/logo_plastifrance-noir.png" width="250">
					</td>
					<td style="text-align:right;">
						<b>LA LETTRE</b> • OCTOBRE 2017</td>
				</tr>
			</table>
		</div>
		<div>
			<img src="/images/plastifrance-cafe2.png">
		</div>
		<div class="cadre0 cadre">
			<h1 style="color:white;">Capsules en matière PP et PBT</h1>
			<p>Legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est notare.
				Veniam quis nostrud exerci tation ullamcorper suscipit lobortis? Illum dolore eu feugiat nulla facilisis at vero eros
				et accumsan et iusto odio.
				<a href='#'>En savoir plus</a>
			</p>
		</div>
		<div class="cadre1 cadre" style="border-left:3px solid #3daee8;">
			<h1>Découvrez Plastifrance cartes et médical</h1>
			<p>Legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est notare.
				Veniam quis nostrud exerci tation ullamcorper suscipit lobortis? Illum dolore eu feugiat nulla facilisis at vero eros
				et accumsan et iusto odio.
				<a href='#'>En savoir plus</a>
			</p>
		</div>
		<div class="cadre1 cadre" style="border-left:3px solid #25ca76;">
			<h1>Nouveau : Plastifrance vous propose son dernier catalogue</h1>
			<p>Legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est notare.
				Veniam quis nostrud exerci tation ullamcorper suscipit lobortis? Illum dolore eu feugiat nulla facilisis at vero eros
				et accumsan et iusto odio.
				<a href='#'>En savoir plus</a>
			</p>
			<div>
				<img src="/images/img3.jpg">
			</div>
		</div>
		<div class="cadre1 cadre" style="border-left:3px solid #cfdf4c;">
			<div style="float:left; width:45%;">
				<img src="/images/img2.jpg">
			</div>
			<div style="float:left; width:55%;">
				<h1>Découvrez tous nos produits</h1>
				<p>Legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum mirum est notare.
					Veniam quis nostrud exerci tation ullamcorper suscipit lobortis? Illum dolore eu feugiat nulla facilisis at vero eros
					et accumsan et iusto odio.
					<a href='#'>En savoir plus</a>
				</p>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="cadre1 cadre" style="border-left:3px solid #3daee8;">
			<p>
				<b>Plastifrance</b>
				<br>845 Avenue du Pic de Bertagne,
				<br>13420 Gémenos</p>
			<p>
				Tél : 04 42 32 70 42
				<br /> contact@plastifrance.com
			</p>
		</div>
		<div>
			<br>
			<br>
			<br>
		</div>
	</div>
</div>